
{{extend './admin_template.html'}}

{{block 'body'}}
 <div class="layui-container">
    <div class="layui-col-md12">

       <div class="contain" style="margin-top: 20px;" >

          <form class="layui-form" action="/admin/books/edit" method="POST">

              <div class="layui-form-item">
                <label class="layui-form-label">图片链接</label>
                <div class="layui-input-block">
                  <input type="text" name="photo_link" required  lay-verify="required" value="{{data.photo_link}}" placeholder="请输入图片链接" autocomplete="off" class="layui-input">
                </div>
              </div>


              <div class="layui-form-item">
                <label class="layui-form-label">书本描述</label>
                <div class="layui-input-block">
                  <input type="text" name="books_des" required  lay-verify="required" value="{{data.books_des}}" placeholder="请简单的描述一下这本书" autocomplete="off" class="layui-input">
                </div>
              </div>


              <div class="layui-form-item">
                <label class="layui-form-label">购买链接</label>
                <div class="layui-input-block">
                  <input type="text" name="buy_link" required  lay-verify="required" value="{{data.buy_link}}" placeholder="请输入购买链接" autocomplete="off" class="layui-input">
                </div>
              </div>

              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">更新</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>
          </form>  

       </div>
    </div>

 </div>

{{/block}}