{{extend './admin_template.html'}}

{{block 'body'}}
<div class="layui-container">
    <div class="layui-col-md12">

       <div class="contain" style="margin-top: 20px;" >

			<table class="layui-table">
			  <colgroup>
			    <col width="100">
			    <col>
			    <col>
			    <col width="70">
			    <col width="70">
			  </colgroup>
			  <thead>
			    <tr>
			      <th>编号ID</th>
			      <th>用户名</th>
			      <th>密码</th>
			      <th>操作1</th>
			      <th>操作2</th>
			    </tr> 
			  </thead>
			  <tbody>
			  	{{each data}}
			    <tr>
			      <td>{{$value._id.toString()}}</td>
			      <td>{{$value.username}}</td>
			      <td>{{$value.passwd}}</td>
			      <td><a href="/admin/user/delete/{{$value._id.toString()}}" style="color: red;" >删除</a></td>
			      <td><a href="/admin/user/edit/{{$value._id.toString()}}" style="color: blue;">编辑</a></td>
			    </tr>
			    {{/each}}
			  </tbody>
			</table>
       </div>
    </div>

 </div>


{{/block}}