  <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img src="/public/img/logo.png">
      </a>
    </h1>
    <div class="nav">
      <a href="/article">文章</a>
      <a href="/say">说说</a>
      <a href="/note">笔记</a>
      <a href="/album">相册</a>
      <a href="/comment">留言</a>
    </div>
  </div>

    <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img src="../res/img/logo.png">
      </a>
    </h1>
    <div class="nav">
      <a href="/article">文章</a>
      <a href="/say">说说</a>
      <a href="/note">笔记</a>
      <a href="/album">相册</a>
      <a href="/comment">留言</a>
    </div>
    <ul class="layui-nav header-down-nav">
      <li class="layui-nav-item"><a href="/article"" class="active">文章</a></li>
      <li class="layui-nav-item"><a href="/say">说说</a></li>
      <li class="layui-nav-item"><a href="/note">笔记</a></li>
      <li class="layui-nav-item"><a href="/album">相册</a></li>
      <li class="layui-nav-item"><a href="/comment">留言</a></li>
    </ul>
  </div>