  <ul class="layui-nav">

	  <li class="layui-nav-item">
	    <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
	    <dl class="layui-nav-child">
	      <dd><a href="/admin/user/control">用户管理</a></dd>
	      <dd><a href="/admin/user">添加用户</a></dd>
	      <dd><a href="/article">返回首页</a></dd>
	    </dl>
	  </li>

    <li class="layui-nav-item">
      <a href="">文章管理</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/article">文章发布</a></dd>
        <dd><a href="/admin/article/control">文章编辑</a></dd>
      </dl>
    </li>

    <li class="layui-nav-item">
      <a href="">笔记管理</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/note">笔记发布</a></dd>
        <dd><a href="/admin/note/control">笔记编辑</a></dd>
      </dl>
    </li>

    <li class="layui-nav-item">
      <a href="">图书管理</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/books">图书发布</a></dd>
        <dd><a href="/admin/books/control">图书编辑</a></dd>
      </dl>
    </li> 

    <li class="layui-nav-item">
      <a href="">阅读管理</a>
      <dl class="layui-nav-child">
        <dd><a href="/admin/read">阅读发布</a></dd>
        <dd><a href="/admin/read/control">阅读编辑</a></dd>
      </dl>
    </li>

  </ul>